@import "../core/variables";
@import "../core/mixins";
@import "../core/animations";
@import "../core/functions";

//components
$background-image: url(../../images/backgorund.jpg);

.home {
  /*display properties*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  /*general properties*/
  height: 100vh;
  padding: 0 30px;
  background-image: $background-image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__title {
    /*general properties*/
    font-size: rem(30);
    line-height: 40px;
  }
  &__text {
    font-size: rem(20);
    line-height: 20px;
  }
}
